

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    flex-direction: column;
}

.bg-eu-mando {
    background-color:#0A1A3C;
}

.css-ja80vf {
  margin: auto !important;
  width: 100vh;
}


@media (min-width: 600px) {
    .css-1xo576c-MuiToolbar-root {
        display: none;
    }
}

@media (min-width: 800px) {
    .css-1xo576c-MuiToolbar-root {
        display: none;
    }
    .bg-eu-mando {
        margin: 100px;
    }
}

@media (min-width: 1180px) {
    .css-1xo576c-MuiToolbar-root {
        min-width: 260px !important;
    }
    .bg-eu-mando {
        margin: 0px;
    }

   /* .css-ja80vf {
        min-width: 260px;
    } */
}

.css-ww7y7v {
    position: absolute !important;
    top: 85px !important;
}